body{
  background-color: steelblue;
  height:1000px;
}

table {
  width: 100%;
  max-width: 600px;
  font-family: sans-serif;
  /*height: 320px;*/
  border-collapse: collapse;
  border: 1px solid #38678f;
  margin: 50px auto 5px;
  background: white;
}
th {
  font-size: 14px;
  background: steelblue;
  height: 54px;
  width: 25%;
  font-weight: lighter;
  text-shadow: 0 1px 0 #38678f;
  color: white;
  border: 1px solid #38678f;
  box-shadow: inset 0px 1px 2px #568ebd;
  transition: all 0.2s;
}
tr {
  border-bottom: 1px solid #cccccc;
}
tr:last-child {
  border-bottom: 0px;
}
td {
  border-right: 1px solid #cccccc;
  padding: 10px;
  transition: all 0.2s;
}
td:last-child {
  border-right: 0px;
}
td.selected {
  background: #d7e4ef;
  z-index: ;
}
td input {
  font-size: 12px;
  background: none;
  outline: none;
  border: 0;
  display: table-cell;
  height: 100%;
  width: 100%;
}
td input:focus {
  box-shadow: 0 1px 0 steelblue;
  color: steelblue;
}
::-moz-selection {
  background: steelblue;
  color: white;
}
::selection {
  background: steelblue;
  color: white;
}
.heavyTable {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: float 5s infinite;
}
.main {
  max-width: 600px;
  padding: 10px;
  margin: auto;
}
.content {
  color: white;
  text-align: center;
}
.content p,
.content pre,
.content h2 {
  text-align: left;
}
.content pre {
  padding: 1.2em 0 0.5em;
  background: white;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.9);
  color: #38678f;
}
.content .download {
  margin: auto;
  background: rgba(255, 255, 255, 0.1);
  display: inline-block;
  padding: 1em 1em;
  border-radius: 12em;
  margin-bottom: 2em;
}
.content .button {
  display: inline-block;
  text-decoration: none;
  color: white;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  border-radius: 24px;
  border: 1px solid #38678f;
  background: steelblue;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 3px rgba(255, 255, 255, 0.2);
  transition: all 0.1s;
}
.content .button:hover {
  background: #4f8aba;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 10px rgba(255, 255, 255, 0.1);
}
.content .button:active {
  color: #294d6b;
  background: #427aa9;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 5px rgba(0, 0, 0, 0.2);
}
.content .button:focus {
  outline: none;
}
h1 {
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}




/*PROFILE STYLING*/

#Profile {
  position: relative;
  margin: 50px auto;
  top: 0; right: 0; left: 0; bottom: 0;
  width: 120px; height: 120px;
  border-radius: 120px;
  text-align: center;
  cursor: pointer;
}

#Profile img {
  border-radius: 120px;
  -webkit-filter: grayscale(0.7);
  -moz-filter: grayscale(0.7);
  -ms-filter: grayscale(0.7);
  filter: grayscale(0.7);
  opacity: 0.9;
}

#Profile:before {
  content: '';
  position: absolute;
  top: -6px; left: -6px;
  width: 130px; height: 130px;
  border-radius: 162px;
  border: 1px solid #BCBCBC;
}

#Profile:after {
  content: '';
  position: absolute;
  top: -11px; left: -11px;
  width: 140px; height: 140px;
  border-radius: 172px;
  border: 1px dashed #81BDA4;
}

#Profile span {
  position: absolute;
  margin: auto;
  top: 0; right: 0; left: 0; bottom: 0;
  width: 120px; height: 120px;
  border-radius: 120px;
  line-height: 120px;
  font-family: 'Oswald';
  font-size: 16px;
  visibility: hidden;
}

#Profile img {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  opacity: .9;
}

#Profile span {
  background: rgba(217, 217, 217, 0.52);
  visibility: visible;
  color: black;
}



.flex-container {
  position: relative;
  text-align: center;
  padding: 0;
  margin: auto;
  list-style: none;
  width: 100%;
  max-width: 600px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}
.flex-container li img {
  width:100%

}
.likes {
    color:black;
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 10px;
}

.flex-item table{
  height: 0px;
  margin:0;

}
.flex-item table tr th {
  height: 0px;
  padding: 5px 0;
  width:100%;
  background: #d20000;
}
.flex-item {
  background: steelblue;
  width: 33%;
  /*height: 190px;*/
  /*padding: 2px;*/
  list-style: none;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;

}
